*.o
*.obj
*.ncb
*.suo
*.aps
*.BAK
*.ptsuo
*.db.v0
*.db.v1
*.db.v2
*.lockdb
.vscode/
exeGCC_SOLID/
exeClang_SOLID/
*.bak
jetarm.*.jpx
JETARM.*.JPX
__pycache__/
memory_map.c
memory_map.inc
memory_map.ld
*.sdmp
*.mareas
PreObjectOut/
*.map
*.so
*.out
*.a
*.bin
*.d
*.dump
*.exe
.*.sw*
*~
